<form class="form mat-elevation-z8">
    <h1>Remover cliente</h1>
    <mat-form-field class="full-width">
        <mat-label id="test">Nome</mat-label>
        <input [(ngModel)]="cliente.nome" disabled name="nome" maxlength="100" matInput
            placeholder="Ex. João Silva">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label id="test">CPF</mat-label>
        <input [(ngModel)]="cliente.cpf" disabled name="cpf" maxlength="15" matInput
            placeholder="Ex. 000.000.000-00">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label id="test">Telefone</mat-label>
        <input [(ngModel)]="cliente.telefone" disabled name="telefone" maxlength="15" matInput
            placeholder="Ex. (84) 90000-0000">
    </mat-form-field>

    <!--
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. email@email.com">
    </mat-form-field>
    -->

    <div class="button-container mat-elevation-z8">
        <button (click)="delete()"
            mat-stroked-button class="criar" color="accent">Remover</button>
        <button (click)="cancel()" mat-stroked-button class="cancelar" color="warn">Cancelar</button>
    </div>


</form>