<div class="container">

    <h1>Atualizar Ordem de Serviço 📝</h1>

    <div class="labels">
        <mat-form-field>
            <mat-label>Selecione um técnico</mat-label>
            <mat-select [(value)]="os.tecnico">
              <mat-option *ngFor="let tec of tecnicos" value="{{ tec.id }}">{{ tec.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Selecione um cliente</mat-label>
            <mat-select [(value)]="os.cliente">
              <mat-option *ngFor="let cli of clientes" value="{{ cli.id }}">{{ cli.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Selecione um status</mat-label>
            <mat-select [(value)]="os.status">
                <mat-option value="0">ABERTO</mat-option>
                <mat-option value="1">EM ANDAMENTO</mat-option>
                <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Selecione uma prioridade</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0">BAIXA</mat-option>
                <mat-option value="1">MEDIA</mat-option>
                <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>

       
    </div>

    <form class="form">

        <mat-form-field class="full-width">
          <mat-label>Adicione as observações</mat-label>
          <textarea [(ngModel)]="os.observacoes" name="observacoes" matInput maxlength="255"></textarea>
        </mat-form-field>
      </form>
      

      <div class="button-container mat-elevation-z8">
        <button (click)="update()"
            mat-stroked-button class="criar" color="accent">Atualizar</button>
        <button (click)="cancel()" mat-stroked-button class="cancelar" color="warn">Cancelar</button>
    </div>
    
</div>

